/* src/components/booking/BookingCard.css */

.booking-card-link {
    text-decoration: none;
    color: inherit;
}

.booking-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.booking-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.booking-card-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.booking-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    color: #333;
}

.booking-card-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.info-label {
    color: #666;
}

.booking-status {
    font-weight: 600;
}
.booking-status.active {
    color: #28a745; /* Hijau */
}
.booking-status.inactive {
    color: #dc3545; /* Merah */
}

.booking-card-details {
    padding: 0 1rem 1rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #007bff;
}

.booking-card-link:hover .booking-card-details {
    text-decoration: underline;
}