.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*overflow: hidden; !* This is key for making images fit correctly *!*/
    display: flex;
    flex-direction: column;
    height: 100%; /* Makes cards in a grid have equal height */
    position: relative;
    z-index: 10;
    border: #1a1a1a solid 5px;
}