/* src/components/common/SearchBar.css */

.search-form {
    width: 100%;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
    font-size: 0.9rem;
    background-color: #f4f4f4; /* A light background for the input */
    color: #333333;
}

.search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}

.search-button {
    border-radius: 0px 20px 20px 0px;
    padding: 0 1.5rem; /* More horizontal padding for "Search" text */
    border: none; /* Remove default button border */
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600; /* Make text bolder */
    color: #42B28C; /* Your desired text color */
    transition: all 0.2s ease-in-out;
    box-shadow: inset 3px 0 0 0 #42B28C; /* Only left shadow for the "outline" */
}